body {
  padding-top: 50px;
  font-family: 'Merriweather', serif;
}
.title {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.title h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.title h4 {
  font-size: 20px;
  font-weight: 200;
  color: #c6c6c6;
}

#season-chart {
  margin-top: 20px;
}

.tick text {
  font-size: 12px;
}

.y-axis .tick line {
  opacity: 0.2;
}
